body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
}

.container {
  perspective: 1000px;
}

.ascii-container {
  transform: rotateX(20deg) rotateY(20deg);
  transform-style: preserve-3d;
  animation: rotate 50s infinite linear;
}

.ascii-art {
  color: limegreen;
  font-size: 1.2rem;
  line-height: 1.5;
}

.ascii-art-footer {
  color: limegreen;
  font-size: 0.5rem;
  line-height: 1.5;
  position: absolute;
  bottom: 0;
  padding-left: 20%;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(360deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(360deg);
  }
}

/* Styling for the student names */
.student-name {
  position: absolute;
  background-color: limegreen;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1%;
  transition: transform 0.5s ease;
  mix-blend-mode: difference;
  z-index: 100;
}

.student-name:hover {
  animation: subtle-glitch 0.2s infinite;
}

/* Subtle glitch keyframes */
@keyframes subtle-glitch {
  0% {
    transform: translate(0, 0);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.1), -1px -1px rgba(0, 0, 0, 0.5);
  }
  10% {
    transform: translate(2px, -1px);
    text-shadow: -2px 0 rgba(255, 255, 255, 0.2), 1px 2px rgba(0, 0, 0, 0.5);
  }
  20% {
    transform: translate(-2px, 1px);
    text-shadow: 1px -2px rgba(255, 255, 255, 0.1), -1px -2px rgba(0, 0, 0, 0.5);
  }
  30% {
    transform: translate(1px, -1px);
    text-shadow: -1px 1px rgba(255, 255, 255, 0.3), 2px -1px rgba(0, 0, 0, 0.5);
  }
  40% {
    transform: translate(-1px, 2px);
    text-shadow: 2px 1px rgba(255, 255, 255, 0.15), -2px -1px rgba(0, 0, 0, 0.4);
  }
  50% {
    transform: translate(2px, -2px);
    text-shadow: -1px 1px rgba(255, 255, 255, 0.2), 2px -2px rgba(0, 0, 0, 0.3);
  }
  60% {
    transform: translate(-2px, 2px);
    text-shadow: 1px -2px rgba(255, 255, 255, 0.1), -1px 2px rgba(0, 0, 0, 0.2);
  }
  70% {
    transform: translate(1px, 1px);
    text-shadow: 1px 0 rgba(255, 255, 255, 0.1), -2px 2px rgba(0, 0, 0, 0.5);
  }
  80% {
    transform: translate(-1px, -1px);
    text-shadow: -1px -1px rgba(255, 255, 255, 0.2), 1px -1px rgba(0, 0, 0, 0.4);
  }
  90% {
    transform: translate(2px, 0);
    text-shadow: 2px -1px rgba(255, 255, 255, 0.1), -2px 1px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: translate(0, 0);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.15), -1px -1px rgba(0, 0, 0, 0.5);
  }
}
